html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
}

header .header--title {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .header--title h1 {
  font-size: 50px;
  color: white;
}

header .header--title h2 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
}

main {
  position: relative;
}

.icon--heartbeat {
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.1);
  }
}
